<div class="navbar">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
	        <li><span class="sprite-lock"></span><b>100% Secure</b></li>
					<li><a href="tel:18006185605">+1 (800) 618 5605</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Help</a></li>
					<li>/</li>
          <li><a href="#">Your Orders</a></li>
					<li>/</li>
          <li><a href="#">Shopping Bag</a></li>
					<li>/</li>
          <li><%= link_to 'Login', new_session_path %></li>
        </ul>
      </div><!--/.navbar-collapse -->  	
	</div>
</div>
