<footer>
  <div class="container">
		<div class="footer-left">
			<ul class="footer-column">
				<li class="footer-column-header">Company</li>
				<li>About</li>
				<li>FAQ</li>
				<li>Careers</li>
			</ul>
			<ul class="footer-column">
				<li class="footer-column-header">More</li>
				<li>Gift Cards</li>
				<li>The Shoppe Noir</li>
			</ul>
			<ul class="footer-column">
				<li class="footer-column-header">Support</li>
				<li>
					<b style="display:block;"><a href="tel:18006185605">+1 (800) 618 5605</a></b>
					<p>M-F 9AM-5PM PST</p><br />
					<b>EMAIL</b>
					<a style="display:block;" href="mailto:info@theboxnoir.com"><u>info@theboxnoir.com</u></a>
				</li>
			</ul>
		</div>
		<div class="footer-right">
			<div class="footer-social">
				<a href="https://www.facebook.com/theboxnoir" rel="nofollow" target="_BLANK"><span class="footer-social-icon sprite-fb"></span></a>
				<a href="https://twitter.com/TheBoxNoir" rel="nofollow" target="_BLANK"><span class="footer-social-icon sprite-tw"></span></a>
			</div>
			<div class="footer-copy">
				<p>&copy; Balloonduck Inc. 2014</p>
				<p>
					Privacy Policy | Terms of Service
				</p>
			</div>
		</div>
	</div>
</footer>
