<div class="navbar navbar-discount">
	<div class="container">
		<span class="sprite-discount"></span>
		<p>Take 20% off purchases for the month of November. Code <u>NOV2013</u> at checkout.</p>		
	</div>
</div>
<div class="backdrop">
	<div class="navbar navbar-clear">
	  <div class="container">
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	      </div>
	      <div class="navbar-collapse collapse">
	        <ul class="nav navbar-nav navbar-left">
	          <li><a href="#">Customer Support</a></li>
	          <li><span class="sprite-lock"></span><b>100% Secure</b></li>
	        </ul>
	        <ul class="nav navbar-nav navbar-right">
	          <li><a href="#">Help</a></li>
						<li>/</li>
	          <li><a href="#">Your Orders</a></li>
						<li>/</li>
	          <li><a href="#">Shopping Cart</a></li>
	        </ul>
	      </div><!--/.navbar-collapse -->
	    </div>
	</div>

  <div class="jumbotron">
    <div class="container">
      <%= image_tag('logo.png', :id => 'jumbotron-logo')%>
			<div id="jumbotron-pitch">
      <p>We help you find the right alcoholic beverages for your unique palate. No more guesswork, no more bad advice, just damn good drinks delivered straight to your door every month for as low as $20/month</p>
      <p><a class="btn btn-default btn-lg">learn about drinking</a><a class="btn btn-primary btn-lg">reserve a box</a></p>
			</div>
    </div>
  </div>
</div>

<div class="turn">
	<div class="container">
		<div class="turn-header">
			<h1>Select a plan that's right for you.</h1>
		</div>
	  <div class="row">
	    <div class="col-lg-4">
				<div class="col-header">one month subscription</div>
	      <h2>$40</h2>
				<div class="col-bottom">
		      <p>
						Original price <b>$40 per box</b>.
					</p>
		      <p><a class="btn btn-info" href="#">Buy 1 month</a></p>
				</div>
	    </div>
	    <div class="col-lg-4">
				<div class="col-header">six month subscription</div>
	      <h2>$180</h2>
				<div class="col-bottom">
		      <p>
						<b>Save $10</b> per box.
					</p>
		      <p><a class="btn btn-info" href="#">Buy 6 months</a></p>
				</div>
	   </div>
	    <div class="col-lg-4">
				<div class="col-header">twelve month subscription</div>
	      <h2>$300</h2>
				<div class="col-bottom">
		      <p>
						<b>Save $15</b> per box.
					</p>
		      <p><a class="btn btn-info" href="#">Buy 12 months</a></p>
				</div>
	    </div>
	  </div>
	</div>
</div>

<div class="prestige">
	<div class="container">
		<div class="prestige-body">
			<h1>Inside the box</h1><br />
			<p>
				Every box includes key ingredients for 
				one fine cocktail, one specialty beer, and one extraordinary wine. 
				<br /><br />
				Look forward to seasonal surprises such as barware, shot glasses, and <b>Noir’s Guide to Drinking</b> (a glossary of drinking terms and a look into the history of alcohol). 
			</p>
			<br /><br />
			<p><a class="btn btn-primary" href="#">reserve my box now</a></p>
		</div>
	</div>
</div>

<footer>
  <div class="container">
		<div class="footer-left">
			<ul class="footer-column">
				<li class="footer-column-header">Company</li>
				<li>About</li>
				<li>FAQ</li>
				<li>Help</li>
				<li>Careers</li>
			</ul>
			<ul class="footer-column">
				<li class="footer-column-header">More</li>
				<li>Gift Cards</li>
				<li>The Shoppe Noir</li>
				<li>Customer Support</li>
			</ul>
		</div>
		<div class="footer-right">
			<div class="footer-social">
				<a href="https://www.facebook.com/theboxnoir" rel="nofollow" target="_BLANK"><span class="footer-social-icon sprite-ylp"></span></a>
				<a href="https://www.facebook.com/theboxnoir" rel="nofollow" target="_BLANK"><span class="footer-social-icon sprite-fb"></span></a>
				<a href="https://twitter.com/TheBoxNoir" rel="nofollow" target="_BLANK"><span class="footer-social-icon sprite-tw"></span></a>
			</div>
			<div class="footer-copy">
				<p>&copy; Balloonduck Inc. 2014</p>
				<p>
					Privacy Policy | Terms of Service
				</p>
			</div>
		</div>
	</div>
</footer>