<div class="navbar navbar-discount">
	<div class="container">
		<span class="sprite-discount"></span>
		<p>Take 20% off purchases for the month of November. Code <u>NOV2013</u> at checkout.</p>		
	</div>
</div>
<div class="backdrop">
	<div class="navbar navbar-clear">
	  <div class="container">
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	      </div>
	      <div class="navbar-collapse collapse">
	        <ul class="nav navbar-nav navbar-left">
	          <li><a href="#">customer support</a></li>
	          <li><span class="sprite-lock"></span><b>100% secure</b></li>
	        </ul>
	        <ul class="nav navbar-nav navbar-right">
	          <li><a href="#">help</a></li>
						<li>/</li>
	          <li><a href="#">your orders</a></li>
						<li>/</li>
	          <li><a href="#">shopping cart</a></li>
	        </ul>
	      </div><!--/.navbar-collapse -->
	    </div>
	</div>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <%= image_tag('logo.png', :id => 'jumbotron-logo')%>
			<div id="jumbotron-pitch">
      <p>We help you find the right alcoholic beverages for your unique palate. No more guesswork, no more bad advice, just damn good drinks delivered straight to your door every month for as low as $20/month</p>
      <p><a class="btn btn-default btn-lg">learn about drinking</a><a class="btn btn-primary btn-lg">reserve a box</a></p>
			</div>
    </div>
  </div>
</div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
     </div>
      <div class="col-lg-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

    <footer>
      <p>&copy; Company 2013</p>
    </footer>
  </div> <!-- /container -->