<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<table width="100%" style="color:#010101;height:500px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">
			<tr style="background:black url(http://s3.amazonaws.com/theboxnoir/assets/email.png) no-repeat;background-size:cover;width:100%;height:300px;">
				<td style="width:100%;padding:0;float:left;background:rgba(0,0,0,0.5);text-align:center;">
           <img src="http://s3.amazonaws.com/theboxnoir/assets/logo.png" style="display:inline-block;position:relative;width:70%;">
        </td>
				<td style="width:100%;padding:0;float:left;text-align:center;">
           <img src="http://s3.amazonaws.com/theboxnoir/assets/email_text.png" style="display:inline-block;position:relative;width:80%;">
        </td>
			</tr>
      <tr style="background:#fff;padding:30px 0;width:100%;float:left;">
        <td style="padding:0 70px;float:left;text-align:left;">
					<p>
						Hey. <br /><br /><br />
						Thanks for putting your name down for The Box Noir. We’re thrilled to have you and can’t wait to put our first signature black box on your doorstep.<br /><br />
						We’ve saved your spot in line, so keep an eye out for an email when your Box Noir is ready for you. <br /><br />
						In the meantime, tell your friends about us! Tweet us <a href="http://twitter.com/theboxnoir" style="color:#000;"><b>@theboxnoir</b></a> and like us on <a href="http://facebook.com/theboxnoir" style="color:#000;"><b>Facebook</b></a>. <br /><br /><br />
						Cheers,<br /><br />
						<b>The Box Noir Team</b><br />
					</p>
         </td>
      </tr>
			<tr style="background:#000;width:100%;padding:30px 0;float:left;">
				<td style="float:left;color:#fff;font-size:11px;line-height:15px;padding:0 70px;">
					<p>
						<b>The Box Noir</b> &copy; 2013-2014<br />
						<b>+1 800 618 5605</b><br />
						Made in California<br />
						<a href="mailto:info@theboxnoir.com" style="color:#fff;"><u>info@theboxnoir.com</u></a>
					</p>
				</td>
			<td style="float:right;color:#fff;padding:0 70px;">
				<a href="http://twitter.com/theboxnoir">
		   		<span style="width:25px;height:30px;margin:0 5px;float:left;background-image:url(http://s3.amazonaws.com/theboxnoir/assets/sprite.png);background-position:-150px -26px;"></span>
				</a>
				<a href="http://facebook.com/theboxnoir">
		   		<span style="width:25px;height:30px;margin:0 5px;float:left;background-image:url(http://s3.amazonaws.com/theboxnoir/assets/sprite.png);background-position:-150px -54px;"></span>
				</a>
			</td>
			</tr>
		</table>
  </body>
</html>
