<% content_for(:title, 'Careers: The Box Noir') %>

<div class="col-xs-12 col-sm-9">
  <div id="about-jumbotron" class="jumbotron">
		<%= image_tag('careers.png')%>
  </div>
	<div id="about-page-header" class="page-header">
		<p>We're looking for folks who share our vision. You're not an employee, you're a part of our family.</p>
	</div>
	<div class="about-page-body page-header">
		<h4>Experience Director</h4>
		<p>We're looking for someone who knows their way around the bar. The experience director is primarily responsible for curating monthly subscription boxes. The ideal candidates are enthusiasts and experts about either wine, beer, or spirits. Experience in the beverage industry is strongly preferred. Apply with resume/cover letter or LinkedIn.</p>
	</div>
	<div class="about-page-body page-header">
		<h4>Sales Director</h4>
		<p>The sales director is responsible for maintaining and creating new retail partnerships for the Box Noir. The ideal candidates should be experienced with scaling businesses and have a strong sales background. Advanced degrees preferred. Apply with resume/cover letter or LinkedIn.</p>
	</div>
	<div class="about-page-body page-header">
		<h4>Marketing Director</h4>
		<p>The marketing director is responsible for creating campaigns for marketing any products shipped by Box Noir. Ideal candidates should be experienced with public relations, marketing products, and even graphic design. Apply with resume/cover letter or LinkedIn.</p>
	</div>
	<div class="about-page-body page-header">
		<h4>Customer Service Rep</h4>
		<p>Customer service representatives will work to troubleshoot all issues relating to customer transactions, shipments, cancellations, refunds, etc. Experience in customer service is required. Apply with resume/cover letter or LinkedIn.</p>
	</div>
	<div class="about-page-body page-header" style="border-bottom:none;">
		<p>Apply via <a href="mailto:jobs@theboxnoir.com">jobs@theboxnoir.com</a>.</p>
	</div>
	<br />
	<br />
	<br />
</div>