<% content_for(:title, 'FAQ: The Box Noir') %>

<div class="col-xs-12 col-sm-9">
	<div id="about-page-header" class="page-header">
		<h2>Frequently Asked Questions</h2>
	</div>
	<div class="about-page-body page-header">
		<h3>I just reserved my Box Noir. What happens now?</h3>
		<br />
		<p>Thanks for your reservation! Because Box Noir is a small shop, we make our boxes to order. A short wait later, we'll shoot you an email with instructions when your box is ready to purchase.</p>
	</div>
	<div class="about-page-body page-header">
		<h3>What should I expect to receive in my Box Noir?</h3>
		<br />
		<p>Depending on the kind of subscription you have purchased, you will either receive a minimum of 3 bottles of wine, 6 bottles of beer, or 2 cocktail (recipes + basic ingredients) with one wine and one beer. Because each Box Noir is themed, you can expect seasonal surprises in your box like barware, snacks to go with your drink, and keepsake historical context about what you're drinking. Your very first Box Noir will always include Noir's Guide to Drinking (a handy guidebook of bar terms). </p>
	</div>
	<div class="about-page-body page-header">
		<h3>When can I cancel my subscription?</h3>
		<br />
		<p>You can cancel month to month subscriptions any time you like. If you do sign up for longer subscription, you'll be able to cancel the subscription either before the first box is shipped or after the last box is shipped.</p>
	</div>
	<div class="about-page-body page-header">
		<h3>Once I subscribe, can I change my subscription type?</h3>
		<br />
		<p>You may change your subscription type only if you have signed up for that type on a month to month basis. We recommend that our more agnostic customers to try the cocktail subscription. The cocktail subscription is the only box that includes a truly assorted collection of alcohol.</p>
	</div>
	<div class="about-page-body page-header">
		<h3>What is your refund or cancellation policy?</h3>
		<br />
		<p>Unfortunately, we do not provide refunds or exchanges. In the event of any damage, however, please feel free to contact customer service at our toll free number and we'll be happy to ship you a replacement box.
			<br />
			Cancellations on month to month subscriptions are free. On non-month to month subscriptions, premature cancellation will incur a $20 cancellation fee. 
		</p>
	</div>
	<br />
	<br />
	<br />
	<br />
	
</div>