<div class="about-backdrop">	
	<div class="container">
	</div>
</div>
<div class="container">
	<div class="about-pledge">
		<ul class="pledge">
			<li>
				<h1>Education</h1>
				<p>
					We think it's important to help you learn to drink with sophistication. Inside every box is an education. You'll learn what folks used to drink during the Prohibition Era, you'll learn what folks commonly drink in Germany, and you'll learn how to order drinks from a bar like a true connoisseur.  
				</p>
			</li>
			<li>
				<h1>Collection</h1>
				<p>
					We don't just send you sample size bottles. With each box, we're helping you build a home collection you'll be proud to show and serve to guests, friends, and family. Need another round? Visit the Shoppe Noir for fast shipping on full size bottles of any product from any one of our boxes. 
				</p>
			</li>
			<li>
				<h1>A Damn Good Time</h1>
				<p>
					The Box Noir is a journey that's worth undertaking. You'll learn a hell of a lot and along the way you'll experience some of the best sips of your life. We're helping all our customers become true connoisseurs. 
				</p>
			</li>
		</ul>
	</div>
	<hr>
	<div class="about-turn">
		
	</div>
</div>
