/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
@import "base";

html {
	height:100%;
}
body {
	@include helvetica;
	height:100%;
	-webkit-font-smoothing:antialiased;
}
#wrap {
	min-height:100%;
	height:auto !important;
	height:100%;
	margin:0 auto -60px;
	padding:0 0 60px;
}
/* form elements */

.form-control {
	@include border-radius(3px);
	outline:none;
	padding:25px 15px;
	@include helvetica;
	font-size:15px;
	&:focus {border:1px solid #ccc;outline:none;}
}

/* nav logo */

#nav-logo {
	position:relative;
	display:inline-block;
	width:65%;
}
#nav-logo-alt {
	position:relative;
	display:inline-block;
	width:65%;
}


/* idx */
#backdrop {
	position:relative;
	width:100%;
	background-image:image-url("idx_first.jpg");
	background-size:cover;
}
.container {
	max-width:1000px;
}
.jumbotron {
	background:rgba(0,0,0,0.5);
	text-align:center;
	padding:0 30px 100px;
	.container {position:relative;}
	img#jumbotron-logo {
		position:relative;
		display:inline-block;
		margin-bottom:50px;
	}
	img#pitch-banner {
		position:relative;
		display:inline-block;
		width:80%;
		margin:15px 0;
	}
	div#jumbotron-pitch {
		width:52%;
		@include minion;
		color:$white;
		font-size:20px;
		text-align:left;
		display:inline-block;
		p {line-height:1.8;}
		.btn-default {margin-right:10px;}
		form {
			width:100%;
			float:left;
			.form-control {
				width:58%;
				float:left;
			}
			.btn {
				width:40%;
				float:right;
			}
		}
	}
	div#jumbotron-promo {
		position:absolute;
		bottom:-80px;
		left:0;
		width:100%;
		p {
			text-transform:uppercase;
			font-size:13px;
			color:$white;
			padding:0 140px;
			text-align:left;
			margin-top:20px;
		}
	}
}
#turn-one {display:block;}
#turn-two {display:none;}
.turn {
	position:relative;
	width:100%;
	padding:30px 0 10px;
	form {
		.form-control {width:50%;margin-top:15px;padding:20px 15px;}
	}
	.turn-header {
		float:left;
		width:100%;
		margin-bottom:20px;
		color:darken($white, 50%);
		h1 {
			margin:0;
			margin-bottom:15px;
			@include minion;
			font-size:30px;
		}
		p {
			@include minion;
			font-size:15px;
		}
		.btn-primary {float:right;}
	}
	.row {
		.col-container {
			float:left;
			width:100%;
			@include box-sizing(border-box);
			background:$smoke;
		}
		.col-lg-4 {
			text-align:center;
			.col-ic {
				margin-top:15px;
				color:$white;
				@include sprite;
				width:190px;
				height:160px;
				display:inline-block;
			}
			.col-wine {background-position:-253px 0px;}
			.col-beer {background-position:-420px 0px;}
			.col-ctail {background-position:-600px 0px;}
			.col-email {background-position:-187px -150px;}
			.col-comp {background-position:-365px -150px;}
			.col-truck {background-position:-570px -150px;width:218px;}
			p.col-p {padding:0 10px;margin-bottom:20px;}
			p {
				@include minion;
				font-size:15px;
			}
			.col-header {
				font-size:10px;
				margin-top:15px;
				font-weight:bold;
				text-transform:uppercase;
				width:100%;
				text-align:center;
				letter-spacing:3px;
				color:lighten($black, 80%);
			}
			.col-bottom {
				position:relative;
				width:100%;
			}
		}
	}
	.row-form {
		margin-bottom:20px;
		.col-lg-4 {
			height:auto;
			background:none;
			.col-checkbox {float:left;margin:10px;clear:both;}
			label {
				text-align:left;
				float:left;
				width:80%;
				h1 {
					@include helvetica;
					color:$black;
					font-size:10px;
					text-transform:uppercase;
					float:left;
					margin:10px;
					letter-spacing:3px;
					font-weight:bold;
				}
				p {
					float:left;
					margin:0 10px;
					clear:both;
					color:darken($white, 50%);
				}
			}
		}
	}
	.turn-footer {
		float:left;
		width:100%;
		margin-bottom:20px;
		color:darken($white, 50%);
		p {
			@include minion;
			font-size:15px;
			margin-top:60px;
		}
	}
}
.prestige {
	position:relative;
	width:100%;
	height:600px;
	background:$luxe image-url("idx_second.jpg") right;
	background-size:cover;
	.prestige-body {
		float:left;
		padding:60px 0;
		width:45%;
		color:$white;
		h1 {
			@include minion;
			font-size:60px;
		}
		p {
			@include minion;
			font-size:17px;
		}
	}
}
footer {
	background:$black;
	padding:30px 0 50px;
	color:$white;
	.container {position:relative;}
	.footer-left {
		float:left;
		ul.footer-column {
			float:left;
			margin-right:80px;
			li.footer-column-header {
				font-size:17px;
				font-weight:bold;
				padding:0;
				margin-bottom:10px;
				color:$white;
			}
			li {
				font-size:13px;
				padding:5px 0;
				line-height:18px;
				color:darken($white, 30%);
				a {color:darken($white, 30%);}
			}
		}
	}
	.footer-right {
		float:right;
		.footer-social {
			float:right;
			.footer-social-icon {
				width:25px;
				height:30px;
				margin:0 5px;
				float:left;
				@include sprite;
			}
		}
		.footer-copy {
			position:absolute;
			right:0;
			bottom:0;
			font-size:11px;
			color:darken($white, 30%);
			p {text-align:right;}
		}
	}
}


