<div class="container">
	<div class="general-form">
		<h1>Manage addresses</h1>
		<p>Manage addresses for all your purchases in the BD Shop</p>
		<span class="button gray_button">Add new address</span>		
	</div>
</div>


